<!DOCTYPE html>
<html>

<head>
        <title>The Digital Castle</title>
        <link id=thestyle rel="stylesheet" media="screen" href="{{ url_for('static', filename='darkstyle.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"  />
        <script src="{{ url_for('static', filename='scripting.js') }}"></script>
        <meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body onload='settime()'>
        <div id=titles>
                <h1>Welcome to The Digital Castle</h1>
                <h2>The internet... as it should have been.</h2>
        </div><!-- titles -->
        <!--<div id=castleimg onclick='window.scrollTo(0,0)'><img src="static/astle.png" width=60/></div>-->
        <div id=castleimg onclick="goHome()"><img src="{{ url_for('static', filename='castle.png') }}" width=60/><div id=myname><h3>&#129497Ross Campbell</h3></div></div>
        <div id="weather">{{ weather|safe }}</div>

	<div id=undercon><img class=imgbtn src="{{ url_for('static', filename='undercon.png') }}" width=200/></div>
	<div id="mainbody">
		{% block content %}{% endblock%}
	</div>
	{% block comments %}{% endblock%}

<div id=loginbox>
{% if user.is_authenticated %}
<a href="{{ url_for('auth.logout') }}">Log out {{ user.username }}</a>
{% else %}
<a href="{{ url_for('auth.login') }}">Login</a>
{% endif %}
</div>

</body>
</html>
