{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content%}
<a href="{{ url_for('views.index') }}" class="no-link">&#x2190; Back</a><br/>

<div style="width:100%; text-align:center;"><img src="static/writings.png" width=100 /><br/><h2>Writing Projects</h2></div>
<h3>Squadventurers vs Unemployment!</h3>
<a href="http://rossfrombritain.pythonanywhere.com/" target=_blank>Read now</a><br/>
<p>The first book in the Squadventurers series.  Rinn, a frustrated and bored wage slave in a fantasy city, decides to quit his job and become the captain of a squad of adventurers-for-hire.  While stumbling from one disaster to another, the squad ends up wrapped up in a conspiracy so large it threatens their entire world.</p>
<br/>
<h3>Squadventurers vs The World!</h3>
<a href="http://rossfrombritain.pythonanywhere.com/" target=_blank>Read now</a><br/>
<p>The second book in the Squadventurers series - things are getting real weird now.  A whistleblower is to be found and protected for the sake of humanity and possibly even the rest of the universe.</p>
<br/>
<h3>Abrexta Bandrui</h3>
<p>Abrexta, a young female druid (ban-drui), faces all sorts of intrigues and challenges when she joins up with a powerful tribe in ancient Ireland.</p>

<div id=datetimebox></div>
{% endblock %}
