{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content%}
<form method='POST' 
	{% if post is not none %}
		action="{{ url_for('views.write_blog') }}/{{ post.title }}"
	{% else %}
		action="{{ url_for('views.write_blog') }}"
	{% endif %}>
	<h1>Blog Post</h1>
	<input type=text name=title id=title value="{% if post.title != '' %}{{ post.title }}{% endif%}" /><br/>
	<textarea name=body id=body cols=120 rows=40>{% if post.title != '' %}{{ post.body }}{% endif%}</textarea><br/>
	<input type=text name=datecreated id=datecreated value="{% if post.datecreated != '' %}{{ post.datecreated }}{% endif%}" /><br/>
	<button type=submit>Go</button>
</form>
{% endblock %}
